<div id="clips-list">
  <div id="clips-list">
    <% clips.forEach(clip => { %>
      <div class="clip">
        <div class="buttons">
          <form action="#">
            <input type="submit" class="watch-btn" value="視聴" videoID="<%= clip.videoID %>" start="<%= clip.original_start_time %>" end="<%= clip.original_end_time %>">
          </form>
          <form action="#">
            <input type="submit" class="edit-btn" value="編集" id="<%= clip.id %>">
          </form>
          <form action="#">
            <input type="submit" class="delete-btn" value="削除" id="<%= clip.id %>">
          </form>
        </div>
        <% if (clip.image_url) { %>
          <img src="<%= clip.image_url %>" alt="クリップ画像">
        <% } %>
        <h2><%= clip.title %></h2>
        <p>VideoID: <a href="<%= clip.youtube_url %>" target="_blank"><%= clip.videoID %></a></p>
        <p>開始時刻: <%= clip.start_time %></p>
        <p>終了時刻: <%= clip.end_time %></p>
      </div>
    <% }); %>
</div>

